dist/
.python-version
__pycache__/
.coverage
Pipfile
Pipfile.lock
.venv*
build/
tls-cluster-namespace
quicktest.yaml
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/node_modules/
