openshift-client==1.0.18
rich==12.5.1
ray[default]==2.5.0
kubernetes>=25.3.0,<27
codeflare-torchx==0.6.0.dev0
pydantic<3 # 2.0+ broke ray[default] see detail: https://github.com/ray-project/ray/pull/37000
