name: Pre-commit
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - 'v*'
  pull_request:
  workflow_dispatch:

jobs:
  precommit:
    runs-on: ubuntu-latest
    container:
      image: quay.io/project-codeflare/codeflare-sdk-precommit:v0.0.1
    steps:
      - uses: actions/checkout@v4

      - name: Run pre-commit checks
        run: pre-commit run --all-files
