name: Python Tests

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  unit-tests:

    runs-on: ubuntu-latest
    container:
      image: quay.io/project-codeflare/codeflare-sdk-precommit:v0.0.3
    steps:
      - uses: actions/checkout@v4
      - name: Install poetry
        run: pip install poetry
      - uses: actions/setup-python@v5
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: |
          poetry config virtualenvs.create false
          poetry lock --no-update
          poetry install --with test
      - name: Test with pytest and check coverage
        run: |
          coverage run --omit="src/**/test_*.py,src/codeflare_sdk/common/utils/unit_test_support.py" -m pytest
          coverage=$(coverage report -m | tail -1 | tail -c 4 | head -c 2)
          if (( $coverage < 90 )); then echo "Coverage failed at ${coverage}%"; exit 1; else echo "Coverage passed, ${coverage}%"; fi
      - name: Upload to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
